@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Berkshire Swash', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Playfair Display', serif; */

/* Navigation bar */
.logo {
    margin: 10px 0 10px 10px;
}

.title {
    font-family: 'Berkshire Swash', cursive;
    color: #f2f2f2;
    font-size: 24px;
    text-align: left;
}

@media(max-width: 375px) {
    .navbar {
        padding: 8px;
    }
    .logo {
        margin: 3px 0 3px 3px;
    }

    .logo img {
        height: 70px;
        width: 70px;
    }

    .title {
        font-size: 18px;
    }
}

.nav-link {
    color: #f2f2f2;
    text-decoration: none;
}

.nav-link:hover {
    color: #f2ae2e;
}

.active-page {
    color: #f2ae2e;
}
