/*---------------------------------------------------------------------- Body */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&display=swap');


/* font-family: 'Berkshire Swash', cursive; ===> Header / Footer / titles
font-family: 'Libre Baskerville', serif;    ===> Nav menu
font-family: 'Pacifico', cursive;     ===> Text         */ 

/*---------------------------------------------------------------------- Header */

/* THIS KEEPS THE NAVBAR FROM OVERLAPPING THE PAGE CONTENT. */
body { 
    padding-top: 165px; 
}
/* Logo */

.logo {
    margin: 10px 0 10px 10px;
}

.title {
    font-family: 'Berkshire Swash', cursive;
    color: #f2f2f2;
    font-size: 24px;
    text-align: left;
}

/* Navigation menu */

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f2ae2e;
}

.navbar-dark .navbar-nav .nav-link .active-page {
    color: #f2ae2e;
}

/* Responsive header */

@media(max-width: 375px) {
    .navbar {
        padding: 8px;
    }
    .logo {
        margin: 3px 0 3px 3px;
    }

    .logo img {
        height: 70px;
        width: 70px;
    }

    .title {
        font-size: 18px;
    }
}

@media(max-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    }
}

/*---------------------------------------------------------------------- Section */
/*Credit for the background image : https://www.freepik.com/vectors/celebration' Celebration vector created by freepik - www.freepik.com */
.home-section {
    height: 100vh;
    background: #f2f2f2 url("../assets/images/background-images/home-background.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.home-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1b1b1bcc;
}

.home-text {
    text-align: center;
    margin: 120px 20px 20px;
}

.home-text h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #f2f2f2;
    font-size: 60px;
    margin: 40px;
}

.home-text p {
    font-family: 'Libre Baskerville', serif;
    color: #f2f2f2;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
}

.home-button-section {
    margin: 50px;
    text-align: center;
}

.home-button {
    font-family: 'Berkshire Swash', cursive;
    font-size: 33px;
    letter-spacing: 3px;
    border: 6px outset #8c512e;
    background-color: #f2ae2e;
    margin: 30px;
    padding: 12px;
    width: 60%;
}

.home-button a {
    color: #f2f2f2;
}

/* Responsive content */

@media(max-width: 900px) {
    .home-button {
        font-size: 16px;
    }

    .home-text h1 {
        font-size: 30px;
    }

    .home-text p {
        font-size: 12px;
    }
}

/*---------------------------------------------------------------------- Footer */

footer {
    background-color: #1b1b1b;
    position: fixed;
    bottom: 0;
    height: 33px;
    width: 100%;
    overflow: hidden;
}

.social-links, .social-links ul, .copyright {
    padding: 0;
    margin: 0;
    text-align: center;
}

.copyright,.social-links a {
    color: #f2f2f2;
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    line-height: 33px;
    vertical-align: center;
}

.social-links a {
    margin: 0 6px;
}

.social-links a:hover {
    color: #f2ae2e;
}

/* responsive footer */

@media(max-width: 425px) {
    .copyright,.social-links a {
        font-size: 14px;
    }

    .social-links a {
        margin: 0 3px;
    }    
}