@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&display=swap');

/* font-family: 'Berkshire Swash', cursive; ===> Header / Footer / titles
font-family: 'Libre Baskerville', serif;    ===> Nav menu / Text
font-family: 'Pacifico', cursive;     ===>          */ 

/*---------------------------------------------------------------------- Common style */

/* THIS KEEPS THE NAVBAR FROM OVERLAPPING THE PAGE CONTENT. */
body { 
    padding-top: 136px;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}
/*Credit for the background image : https://www.freepik.com/vectors/celebration' 
Celebration vector created by freepik - www.freepik.com */

.home-section,
.background-style {
    min-height: 100vh;
    background: #f2f2f2 url("../assets/images/background-images/home-background.jpg") center repeat;
    background-size: cover;
    position: relative;
}

.home-section::before,
.background-style::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1b1b1bcc;
}

.leaderboard-instructions{
    color: white;
    font-family: 'Berkshire Swash', cursive;
}
.leaderboard-btn{
    margin-bottom: 65px !important;
}
/* ---------------------------------- H1 */

h1 {
    font-family: 'Berkshire Swash', cursive;
    color: #f2f2f2;
    font-size: 60px;
    margin: 40px 5px;
    /* padding-top: 3rem; */
}
/* ---------------------------------- forms */

label {
    font-family: 'Pacifico', cursive;
    color: #f2f2f2;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
}

/* ---------------------------------- Button */

.button-section {
    margin: 33px 0;
    text-align: center;
}

.button-style {
    font-family: 'Berkshire Swash', cursive;
    font-size: 33px;
    letter-spacing: 3px;
    border: 6px outset #8c512e;
    background-color: #f2ae2e;
    margin-bottom: 20px;
    padding: 12px;
    width: 60%;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    color: white;
}

.button-style:hover {
    box-shadow: 0px 0px 20px gold;
    transition: box-shadow 0.4s ease-in-out;
    text-decoration: none;
    color: white;
}

/* Responsive content */

@media(max-width: 1260px) {
    .button-style {
        font-size: 22px;
    }
}

@media(max-width: 992px) {
    h1 {
        font-size: 40px;
    }

    .button-style {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .button-style {
        width: auto;
    }
}

@media(max-width: 345px) {
    .button-style {
        padding: 6px;
    }
}
/*---------------------------------------------------------------------- Header */

/* Logo */

.logo {
    margin: 10px 0 10px 10px;
}
.title {
    font-family: 'Berkshire Swash', cursive;
    color: #f2f2f2;
    font-size: 24px;
    text-align: left;
}


/* -------------------------------- Navigation menu */
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
}
nav.navbar-gold{
    background-color: #f2ae2e !important;
    transition: border 2s;
    box-shadow: 0 8px 6px -6px black;
}
.nav-item:hover{
    border-bottom: #f2f2f2 2px solid;
}

.navbar-dark .navbar-nav .nav-link .active-page {
    color: #f2f2f2;
}
/* Flash Messages */
h4.flashmsg {
    line-height: 3;
    color:white;
    margin: 0 auto;
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.6rem;
    
}
.flashes{
    background-color: green;
    justify-content: center;
}
/* Responsive header */


@media(max-width: 1200px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    }
}

@media(max-width: 992px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 12px;
    }

     body { 
        padding-top: 102px;
    }
    .navbar {
        padding: 8px;
    }
    .logo {
        margin: 3px 0 3px 3px;
    }
    .logo img {
        height: 70px;
        width: 70px;
    }
    .title {
        font-size: 18px;
    }
}

/* Responsive header */


/*---------------------------------------------------------------------- Home-Section */

.home-text {
    text-align: center;
    margin: 0 20px 20px;
    justify-content: center;
}
.home-text p {
    font-family: 'Libre Baskerville', serif;
    color: #f2f2f2;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
}
#battle_name {
    margin: 15px;
}
#battle-label {
    font-family: 'Berkshire Swash', cursive;
    font-size: 33px;
    color: white;
    box-shadow: 0px 5px 0px #46a637;
}

.center {
    text-align: center;
}
.btn-index {
    margin: 15px;
}

/* Responsive home-content */
@media(max-width: 768px) {
    .home-text {
        margin: 0;
        justify-content: center;
    }
    .home-text p {
        font-size: 14px;
        line-height: 20px;
    }
}
/*---------------------------------------------------------------------- Footer */
footer {
    background-color: #f2ae2e;
    position: fixed;
    bottom: 0;
    height: 60px;
}
.social-links, .social-links ul, .copyright {
    padding: 0;
    margin: 0;
    text-align: center;
}
.copyright,.social-links a {
    color: #f2f2f2;
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    line-height: 33px;
    vertical-align: center;
}
.social-links a {
    margin: 0 6px;
}
.social-links a:hover {
    color: #f2ae2e;
}
/* responsive footer */
@media(max-width: 425px) {
    .copyright,.social-links a {
        font-size: 14px;
    }
    .social-links a {
        margin: 0 3px;
    }    
}
/*----------------------------------------------------------------------Register - Login */
.register-section,
.login-section {
    margin-bottom: 33px;
}

.register-section h1,
.login-section h1 {
    text-align: center;
    font-size: 40px;
}

.register-button,
.login-button {
    text-align: center;
}

.create-button .button-style,
.register-button .button-style,
.login-button .button-style {
    margin-top: 30px;
    width: auto;
    font-size: 22px;
}

@media(max-width: 375px) {
    .register-section h1 {
        font-size: 33px;
    }
    .register-section label {
        font-size: 18px;
    }
}


/* Leaderboard */

.leaderboard-container{
    background-color: #f2ae2e;
    height: 100vh;
}
.leaderboard-scores{
    background-color: green;
    align-items: center;
}
.leaderboard-heading{
    margin-top: 0;
    padding-top: 3rem;

}
.scores {
    color: white;
}

/*----------------------------------------------------------------------Battleground */

.battle-modal {
    color: #f2f2f2;
    font-family: 'Berkshire Swash', cursive;
    background: #46a637;
    border: 6px outset #8c512e;
}

.info-row {
    color: white;
    font-family: 'Berkshire Swash', cursive;
}

.stats {
    font-size: 3rem;
    margin: 10px;
}

.stats p {
    margin: 10px;
}

#timer {
    margin-left: 10px;
}

.answersList {
    background: gold;
    font-family: 'Berkshire Swash', cursive;
    list-style-type: none;
    color:#343a40;
    font-size: 1.5rem;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin: 10px auto;
    width: 50%;
    border: 2px solid #f05a2b;
    border-radius: 25px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    margin-bottom: 40px;
}

.answersList:hover {
    box-shadow: 0px 0px 20px gold;
}

#questionText {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: white;
    margin-top: 20px;

}

.game-row {
    background:#e7b556;
    margin-right: 20%;
    margin-left: 20%;
    border: 3px solid black;
    box-shadow: 0px 0px 20px gold;
}

.result {
    margin: 10px;
    font-size: 2rem;
}

.hidden-score-input{
    display: none;
}

