{% extends "base.html" %}

{% block title %}
<title>Battleground</title>
{% endblock %}

{% block content %}

<div class="container-fluid game-container home-section">
    <div class="container-fluid d-block no-gutters" id="quiz-board">
        <div class="row info-row container-fluid">
            <div class="col-6 stats timer">
                <p class="counter">Timer: <span id="timer"></span></p>
            </div>
            <div class="col-6 stats score">
                <p> Score: <span id="score">0</span></p>
            </div>
        </div>
        <div class="row game-row">
            <div class="col-12 question">
                <span id="question"></span>
            </div>
        </div>
    </div>

    <!-- Game Modals -->

    <!-- welcome Modal -->
    <div class="modal fade in" data-bs-backdrop="static" data-bs-keyboard="false" id="welcomeModal" tabindex="-1"
        role="dialog" aria-labelledby="welcomeModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content welcomeMenu battle-modal">
                <div class="modal-header d-block">
                    <h1 class="modal-title text-center">Welcome to the {{battle_name}} league!</h1>
                    <h2 class="modal-title text-center">If you want to invite more people to this Quiz, your pin is
                        {{battle_pin}}</h2>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            <p>You have 60 seconds to complete the following 10 questions.</p>
                        </li>
                        <li>
                            <p>Questions are either multiple choice or true or false.</p>
                        </li>
                        <li>
                            <p>There are 3 rounds in total.</p>
                        </li>

                    </ul>
                    <div class="row center">
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <a type="button" class="button-style center" id="startGame" data-dismiss="modal">
                                Start
                            </a>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center">
                            <a type="button" class="button-style center" href="{{ url_for('home') }}">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Round two Modal -->
<div class="modal fade in" data-bs-backdrop="static" data-bs-keyboard="false" id="roundTwoModal" tabindex="-1"
    role="dialog" aria-labelledby="welcomeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content welcomeMenu battle-modal">
            <div class="modal-header d-block">
                <h1 class="modal-title text-center">Ready for round Two?</h1>
            </div>
            <div class="modal-body">
                <div class="row no-gutters result center">
                    <div class="col-6 score-key modal-score">
                        <span>Round 1 score:</span>
                    </div>
                    <div class="col-6 score modal-score">
                        <span id="round1Score"></span>
                    </div>
                </div>
                <ul>
                    <li>
                        <p>You have 60 seconds to complete the following 10 questions.</p>
                    </li>
                    <li>
                        <p>This round is true or false about St Patrick.</p>
                    </li>
                </ul>
                <div class="row center">
                    <div class="col-12 col-md-12 d-flex justify-content-center">
                        <a type="button" class="button-style" id="roundTwoStart" data-dismiss="modal">
                            Start
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Round three Modal -->
<div class="modal fade in" data-bs-backdrop="static" data-bs-keyboard="false" id="roundThreeModal" tabindex="-1"
    role="dialog" aria-labelledby="welcomeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content welcomeMenu battle-modal">
            <div class="modal-header d-block">
                <h1 class="modal-title text-center">Ready for the final round?</h1>
            </div>
            <div class="modal-body">
                <div class="row no-gutters result center">
                    <div class="col-6 score-key modal-score">
                        <span>Round 2 score:</span>
                    </div>
                    <div class="col-6 score modal-score">
                        <span id="round2Score"></span>
                    </div>
                </div>
                <ul>
                    <li>
                        <p>You have 60 seconds to complete the following 10 questions.</p>
                    </li>
                    <li>
                        <p>This round is a mix of general knowledge questions.</p>
                    </li>
                </ul>
                <div class="row center">
                    <div class="col-12 col-md-12 d-flex justify-content-center">
                        <a type="button" class="button-style" id="roundThreeStart" data-dismiss="modal">
                            Start
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Game Complete Modal -->
<div class="modal fade in" data-bs-backdrop="static" data-bs-keyboard="false" id="gameCompleteModal" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content welcomeMenu battle-modal">
            <div class="modal-header d-block">
                <h1 class="modal-title text-center gold-text">You finished the challenge!</h1>
                <h2 class="modal-title text-center">But how did you do???</h2>
            </div>
            <form action="{{url_for('battleground', battle_pin=battle_pin, username=player.username)}}" method="POST">
                <div class="modal-body d-block justify-content-center">
                    <div class="game-won container">
                        <div class="row no-gutters result center">
                            <div class="col-6 score-key">
                                <span>Total score:</span>
                            </div>
                            <div class="col-6 score">
                                <input type="text" class="hidden-score-input" value="" name="score-to-pass" id="score-to-pass">
                                <span id="total-score"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" method="POST" class="btn menu-button button-style">
                        Submit Score
                </button>
                </div>
            </form>
            <!-- onclick="window.location.href='index.html';"   data-dismiss="modal" removed from Exit button to make it submit-->
        </div>
    </div>
</div>
<!-- Lost Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="gameLostModal" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content mainMenu battle-modal">
            <div class="modal-header d-block">
                <h1 class="modal-title text-center gold-text">Out of time I'm afraid!</h1>
            </div>
            <div class="modal-body">
                <div class="game-lost container justify-content-center text-center result">
                    <p>Looks like you've had one too many already! Time's up I'm afraid,
                        you just weren't quick enough....
                    </p>
                    <p>Better luck next time.
                    </p>
                </div>
                <div class="modal-footer justify-content-center">
                    <a type="button" class="button-style center" id="restartGame" data-dismiss="modal">
                        Play again
                    </a>
                    <a type="button" class="button-style center" href="{{ url_for('home') }}">
                        Exit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="{{url_for('battleground', battle_pin=battle_pin, username=player.username)}}" method="POST">
    <input class="hidden-score-input" type="text" name="score" id="player_score">
    <button type="submit">Save Score!</button>
</form>

{% endblock %}