{% extends "base.html" %}

{% block title %}
<title>Patrick's Quiz</title>
{% endblock %}

{% block content %}

    <link rel="shortcut icon" type="image/jpg" href="{{url_for('static', filename='/assets/images/logo/logo.png')}}" />
    <title>Patrick's Quiz</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css"> -->
</head>

<body>
    <header>
        <!-- Navigation bar -->
        <!-- Logo/Title -->
        <nav class="navbar navbar-dark bg-dark navbar-expand-md  fixed-top">
            <div class="logo-container">
                <a href="templates/index.html" class="brand-logo logo navbar-brand">
                    <img src="{{url_for('static', filename='/assets/images/logo/logo.png')}}" height="90" width="90">
                </a>
                <span class="title">Patrick's Quiz</span>
            </div>
            <!-- Navigation menu -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarToggle" class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active-page" href="templates/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Get to Know Paddy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pub Quiz</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Home page - Thus far this has the 2 links to register 
        & login and definitely needs a title, an introduction to the concept and some information about Paddy’s day.,, etc… -->
<section class="container-fluid home-section">
    <div class="row home-text">
        <div class="col">
            <h1>Welcome to Patrick's Quiz!</h1>
            <p>
                Here we celebrate Saint Patrick's Day with together by playing a Pub Quiz! That's right, you can challenge your peers and yourself 
                in a fun environment and learn about Paddy and his country's culture.<br>
                To get started all you need to do is register or login with the links below.<br>
                You have access to all the knowledge you need on the <a href="#">Get to know Paddy's page</a>.<br>
                So what are you waiting for, have some fun with your friends and family!
            </p>
        </div>
    </div>
    <div class="row home-button-section">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <div class="home-button">
                <a href="{{url_for('login')}}">Login</a>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <div class="home-button">
                <a href="{{url_for('register')}}">Register</a>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}

