{% extends "base.html" %}

{% block content %}
<div class="leaderboard-scores">
        <div class="col-12 offset-md-12 center leaderboard-title">
            <h1 class="leaderboard-heading col-12">{{battle.battle_name|capitalize}}</h1>
            <hr id="hr_leaderboard">
            <h1> League's Leaderboard</h1>
        </div>
        <div class="row scores-row">
        <div class="col-8 offset-md-12 scores">

            {% for score in battle.battle_scores %}
            <div class="justify-content-center scoreboard">
                <div class="row">
                    <div class="col-3">
                        <h3 class="score-text right">Player:</h3>
                    </div>
                    <div class="col-3">
                        <h3 class="score-text">{{score[0]}}</h3>
                    </div>
                    <div class="col-3">
                        <h3 class="score-text right">Score:</h3>
                    </div>
                    <div class="col-3">
                        <h3 class="score-text">{{score[1]}}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
</div>
{% endblock %}
