{% extends "base.html" %}

{% block title %}
    <title>Login</title>
{% endblock %}
 

{% block content %}
<div class="container-fluid background-style">
    <div class="row justify-content-center">
        <form class="login-form col-sm-12 col-md-6 col-lg-4 " method="POST" action="{{ url_for('login') }}">
            <h1 class="">Login</h1>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn button-style">Login</button>
        </form>
    </div>
</div>

{% endblock %}